<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bz.tereboo.tereboo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="biz.tereboo.tereboo.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="biz.tereboo.tereboo.TutorialActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="biz.tereboo.tereboo.MainActivity"
            android:label="@string/app_name" >
        </activity>

		<!-- Bluetoothデバイス選択  -->
        <activity android:name="biz.tereboo.tereboo.bluetooth.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

        <!-- 端末起動時 のブロードキャスト受け取り -->
        <receiver android:name="BootReceiver" android:process=":remote">
 			<intent-filter>
 				<action android:name="android.intent.action.BOOT_COMPLETED"/>
 			</intent-filter>
		</receiver>

    </application>

</manifest>
